html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #222;
}

h1,
h2 {
  font-family: "Sansita Swashed", cursive;
  margin: 0;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2.3em;
  text-decoration: underline;
  text-align: center;
}

a {
  color: #222;
}

input {
  min-height: 50px;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid #222;
  padding: 0 10px;
  font-size: 1.1em;
  -webkit-appearance: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  text-transform: none;
  font-family: "Sansita Swashed", cursive;
}
::-moz-placeholder {
  text-transform: none;
  font-family: "Sansita Swashed", cursive;
}
:-ms-input-placeholder {
  text-transform: none;
  font-family: "Sansita Swashed", cursive;
}
:-moz-placeholder {
  text-transform: none;
  font-family: "Sansita Swashed", cursive;
}

.hidden {
  display: none !important;
}

header button {
  height: 40px;
  width: 50px;
  background-color: transparent;
  border: none;
  vertical-align: top;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 0;
}

footer {
  text-align: center;
}

#search-button {
  background-image: url(images/search.svg);
  background-repeat: no-repeat;
  transform: rotate(270deg);
}

#current-location-button {
  font-family: "Sansita Swashed", cursive;
  width: 130px;
  background: #222;
  font-size: 1em;
  height: 50px;
  line-height: 1;
  color: white;
  border-radius: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 70px;
  position: absolute;
}

.container {
  padding: 2em 1em;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  background-repeat: no-repeat;
  min-height: 100%;
}

header {
  margin: 2em 0 0;
}

header input[type="search"] {
  vertical-align: top;
  width: calc(100% - 65px);
  text-transform: capitalize;
}

.wrapper {
  margin: 7em 0 0;
  visibility: hidden;
}

#weather-form {
  position: relative;
}

.weather-info {
  display: flex;
  align-items: center;
  padding: 20px 25px 40px 0;
}

.city-details div:first-letter {
  text-transform: capitalize;
}

.weather-info.today {
  flex-direction: column;
}

.weather-info .temp {
  display: flex;
  align-items: flex-start;
}

#temperature {
  font-size: 4em;
  letter-spacing: -3px;
}

.temp-container {
  display: flex;
  align-items: flex-start;
}

.temp-units {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}

.temp-units a {
  font-size: 1.5em;
  text-decoration: none;
}

.temp-units a:hover {
  font-weight: 700;
}

.temp-units .celsius {
  border-right: 1px solid;
  padding: 0 10px 0 0;
}

.temp-units .fahrenheit {
  padding: 0 0 0 5px;
}

.city-details {
  display: flex;
  align-items: center;
}

.city-details .details:first-child {
  margin: 0 30px 0 0;
}

.city-details .details {
  font-size: 1.2em;
  line-height: 1.5;
}

.weather.forecast {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0;
  border-top: 2px solid;
  flex-wrap: wrap;
}

.weather.forecast .weather-info {
  padding: 0;
}

.weather-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 769px) {
  h2 {
    text-align: left;
  }

  .weather-info.today {
    max-width: 75%;
    flex-direction: row;
  }

  header input[type="search"] {
    width: calc(100% - 207px);
  }

  #current-location-button {
    position: static;
  }

  header {
    margin: 4em 0 0;
  }

  .wrapper {
    margin: 3em 0 0;
  }

  .weather.forecast {
    justify-content: space-between;
  }

  .city-details {
    margin: 0 0 0 2em;
  }
}
